.form {
  position: relative;
  padding: 2em 2em;
}

.site_content {
  overflow: scroll !important;
}

.form .form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 30px;
}

.small .input-group {
  width: 35% !important;
  margin: 0 15px 0 0;
}

.form .input-group {
  width: 100%;
}

.form label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  color: #00A6EA;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form input:disabled {
  color: #888;
  background: rgba(0, 0, 0, 0.04);
}

.form .button {
  position: relative;
  background-image: -moz-linear-gradient(90deg, #1cbfff 0, #00a4e6 100%);
  background-image: -webkit-linear-gradient(90deg, #1cbfff 0, #00a4e6 100%);
  border-radius: 20px;
  font-size: 1.1em;
  color: #fff !important;
  padding: 0.3em 0.7em;
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.form h1 {
  opacity: 0.8;
}

.form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.blurred {
  width: 128px !important;
}

.input-group .button {
  margin-top: 10px;
}

.qrView {
  position: relative;
}

.qrView .button {
  position: absolute;
  font-size: 1.4em;
  padding: 0.3em 0.5em !important;
  border-radius: 180px;
  bottom: 1.5em;
  left: 10px;
}

.input-group .button:not(.logout):not(.export) {
  position: absolute;
  font-size: 1.4em;
  padding: 0.3em 0.5em !important;
  border-radius: 180px;
  bottom: 0;
  left: 10px;
}

.logout {
  position: absolute !important;
  right: 0;
  font-size: 0.8em;
}

.export {
  position: absolute !important;
  right: 100px;
  font-size: 0.8em;
}

.top-corner {
  position: absolute;
  top: 40px;
  right: 0;
}